.test {
  width: "100px";
  height: "100px";
  border: "1px soild black";
  background: "green";
}

h1 {
  color: red;
}

.header {
  color: blue;
  font-weight: bold;
}

.btn {
  width: "100px";
  height: "100px";
  border: "1px soild black";
  background: "green";
}
